<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <style>
            .active-sidebar {
                font-weight: bold;
                background-color: gainsboro !important;
                color: black !important;
            }

            .side-bar-item {
                transition: 0.2s all;
            }

                .side-bar-item:hover {
                    font-weight: bold;
                    background-color: gainsboro !important;
                    color: black !important;
                }
        </style>
        @{
            var action = Context.Request.RouteValues["action"].ToString();
        }
        <li class="nav-item">
            <a class="@(action == "Profile" ? "active active-sidebar" : "") side-bar-item list-group-item list-group-item-action border-top-0 border-right-0 border-left-0 border-bottom border-dark" asp-action="Profile">
                <span data-feather="file"></span>Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="@(action == "BatchManagement" || action == "CreateBatch" ? "active active-sidebar" : "") side-bar-item list-group-item list-group-item-action border-top-0 border-right-0 border-left-0 border-bottom border-dark" asp-action="BatchManagement">
                <span data-feather="file"></span>Batch
            </a>
        </li>
    </ul>
</div>
