@using Web_Client.Data.ResponseDTO;
@model List<WarehouseResponseDTO>

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<h3>Create new product</h3>

<div>
    <form method="post">
        <label for="name">Product Name:</label><br>
        <input required type="text" id="name" name="ProductName"><br>
        <label for="description">Description(optional):</label><br>
        <input type="text" id="description" name="Description">
        <label for="price">Price:</label><br>
        <input required type="text" id="price" name="Price">
        <label for="price">Quantity In Stock:</label><br>
        <input required type="text" id="quantityInStock" name="QuantityInStock">

        <label for="country">Warehouse</label>
        <select name="WarehouseId" id="warehouse">
            @foreach (var i in Model)
            {
                <option value="@i.WarehouseId">@i.WarehouseName</option>
            }
        </select>

        <input type="submit" value="Submit">
    </form>
    @if ((bool?)ViewData["success"] == true)
    {
        <div class="alert alert-success" role="alert">
            Add successfully!
        </div>
    }
    else if ((bool?)ViewData["success"] == false)
    {
        <div class="alert alert-danger" role="alert">
            Add failed!
        </div>
    }
</div>


